main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
}

.barra-busqueda {
  min-width: 200px;
  max-width: fit-content;
  align-self: center;
  margin-top: 5px;
  border-radius: 5px;
}

.pokemon-todos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 470px) {
  .pokemon-todos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .pokemon-todos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
